---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

.ws-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

.ws-body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.dt-published, .post-meta, .post-link {
    text-align: center;
    font-family: 'Lato';
}
